---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import Hero from '@components/Hero.astro'
import ExternalLink from '@components/ExternalLink.astro'
import { Accordion, AccordionItem, Tabs, TabsList, TabsPanel, TabsTab } from 'accessible-astro-components'
import BlockQuote from '../components/BlockQuote.astro'
---

<DefaultLayout title="Início">
  <Hero />
  <section class="mt-64 mb-32">
    <div class="container space-content">
    <h2 class="mb-16 text-6xl">Comentários</h2>
      <div class="grid grid-cols-1 gap-y-16">
        <div class="space-content">
          <BlockQuote author="Leitor Kindle" >
            Ao ler o livro lembrei da minha vida, o uso de mil máscaras, uma tentativa de encaixar em um mundo que não me fazia vibrar. A dissolução do ego e o encontro consigo mesmo devem ser o que a maioria dos buscadores pretendem encontrar.
          </BlockQuote>
          </div>
        <div class="space-content">
          <BlockQuote author="Bernardo Vitor">
            Uma obra que te aproxima do abismo, faz-te encarar sua presença e, no ato de perdoá-lo, reencontrar a vida.
          </BlockQuote>
        </div>
      </div>



    </div>
  </section>
  <section class="my-64">
    <div class="container grid grid-cols-1 gap-12 md:grid-cols-2">
      <div class="space-content">
        <h2 class="text-6xl">FAQs</h2>
        <h3 class="text-3xl">Perguntas frequentes</h3>
        <Tabs>
          <TabsList>
            <TabsTab id="panel-faq-1" controls="panel-1" selected>Geral</TabsTab>
            <TabsTab id="panel-faq-2" controls="panel-2">Pré-venda</TabsTab>
          </TabsList>

          <TabsPanel id="panel-1" labelledby="panel-faq-1" selected>
            <div class="space-content">
              <Accordion>
                <AccordionItem name="faq-geral" title="Como faço para comprar um livro?" open>
                  <p>
                    Basta escolher o título desejado na loja, adicionar ao carrinho e seguir o passo a passo para pagamento. Aceitamos Pix, cartões de crédito e débito, paypal e boleto.
                  </p>
                </AccordionItem>
                <AccordionItem name="faq-geral" title="Qual é o prazo de envio?">
                  <p>
                    Os pedidos de livros já lançados são preparados com carinho em até <b>7 dias úteis</b> após a confirmação do pagamento.
                  </p>
                  <p>
                    O envio é feito pelos Correios ou transportadora escolhida no momento da compra e o prazo de entrega depende da sua região.
                    OBS: Produtos em pré-venda possuem prazos diferenciados.
                  </p>
                </AccordionItem>
                <AccordionItem name="faq-geral" title="Posso rastrear meu pedido?">
                  <p>
                    Sim! Assim que o livro for enviado, você receberá um código de rastreio para acompanhar a entrega.
                  </p>
                </AccordionItem>
                <AccordionItem name="faq-geral" title="O que faço se o livro chegar com defeito ou errado?">
                  <p>
                    Entre em contato em até <b>30 dias corridos</b> após o recebimento pelo e-mail <ExternalLink href="mailto:carolira.autora@gmail.com?subject=Suporte&body=Olá, preciso de ajuda.">carolira.autora@gmail.com</ExternalLink>.
                    Farei a troca ou o reembolso sem custo adicional.
                  </p>
                </AccordionItem>
                <AccordionItem name="faq-geral" title="Posso devolver o livro se mudar de ideia?">
                  <p>
                    Sim, você pode solicitar a devolução em até <b>7 dias corridos</b> após o recebimento, pelo e-mail <ExternalLink href="mailto:carolira.autora@gmail.com?subject=Direito ao arrependimento&body=Olá, gostaria de realizar a devolução do livro: .">carolira.autora@gmail.com</ExternalLink>.
                    Trocas ou devoluções fora desse prazo não são aceitas, exceto nos casos previstos pelo Código de Defesa do Consumidor.
                  </p>
                </AccordionItem>
                <AccordionItem name="faq-geral" title="Como meus dados pessoais são protegidos?">
                  <p>
                    Seus dados são usados apenas para processar pedidos e envio. Não compartilhamos suas informações com terceiros, exceto quando necessário para a entrega.
                  </p>
                </AccordionItem>
                <AccordionItem name="faq-geral" title="Tenho dúvidas ou preciso de ajuda, como faço?">
                  <p>
                    Você pode nos contatar pelo e-mail <ExternalLink href="mailto:carolira.autora@gmail.com?subject=Dúvida&body=Olá, poderia me ajudar com a(s) dúvida(s)?">carolira.autora@gmail.com</ExternalLink>
                    Responderemos o mais rápido possível!
                  </p>
                </AccordionItem>
              </Accordion>
            </div>
          </TabsPanel>
          <TabsPanel id="panel-2" labelledby="panel-faq-2">
            <div class="space-content">
              <Accordion>
                <AccordionItem name="faq-pre-venda" title="O que é a pré-venda e como funciona?">
                  <p>
                    A pré-venda é a compra do livro antes do lançamento oficial. Quem participa garante seu exemplar e recebe <b>brindes exclusivos</b>.
                    Por conta do livro ainda estar em processo de produção nessa fase, o prazo para recebimento do kit é bem maior e varia conforme os prazos da gráfica.
                  </p>
                </AccordionItem>
                <AccordionItem name="faq-pre-venda" title="Qual é o prazo de envio dos livros da pré-venda?">
                  <p>
                    Os pedidos da pré-venda serão enviados a partir da conclusão da produção junto a gráfica, em geral em um prazo que pode variar de <b>20 a 30 dias</b>.
                    Em cada pré venda, o prazo de entrega será informado de acordo com a data que o livro estará disponível nas mãos da autora.
                    Você receberá o código de rastreio para acompanhar a entrega.
                  </p>
                </AccordionItem>
                <AccordionItem name="faq-pre-venda" title="Posso garantir meus brindes exclusivos da pré-venda?">
                  <p>
                    Sim! Mas atenção: os brindes são <b>limitados</b> e entregues por ordem de compra. Quanto antes você garantir seu exemplar, mais chances de receber o kit completo.
                  </p>
                </AccordionItem>
              </Accordion>
            </div>
          </TabsPanel>
        </Tabs>
      </div>
    </div>
  </section>
</DefaultLayout>

<style>
  .avatar {
    border: 1px solid var(--border-color-subtle);
    border-radius: var(--radius-md);
    padding: var(--space-s);
  }
</style>
