---
/**
 * Footer Component
 *
 * @description A component that displays the footer of the website
 */
const currentYear = new Date().getFullYear()
---

<footer>
  <section class="py-20">
    <h2 class="sr-only">Rodapé</h2>
    <div class="container grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-4">
      <div class="flex flex-col gap-4">
        <h3 class="text-2xl font-bold">Navegação</h3>
        <ul class="flex flex-col gap-2">
          <li><a href="/">Início</a></li>
          <li><a href="/sobre">Sobre</a></li>
          <li><a href="/livros">Livros</a></li>
        </ul>
      </div>
      <!--<div>-->
      <!--  <p class="leading-[1.75]">-->
      <!--    Dica: sempre teste a compatibilidade com leitores de tela. Aperte <kbd>⌘</kbd> + <kbd>F5</kbd> ou <kbd>Win</kbd>-->
      <!--    + <kbd>Ctrl</kbd> + <kbd>Enter</kbd> para o Narrador.-->
      <!--  </p>-->
      <!--</div>-->
    </div>
  </section>
  <section class="py-8">
    <div class="container flex flex-col gap-4 md:flex-row md:justify-between">
      <p>
        &copy; {currentYear} - Carol Lira.
      </p>
    </div>
  </section>
</footer>

<style>
  section {
    border-top: 1px solid var(--border-color-subtle);
  }
</style>
