---
import '../styles/tailwind.css'
import '../assets/scss/index.scss'
import SiteMeta from '../components/SiteMeta.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { ClientRouter } from 'astro:transitions'

const {
  title = 'Carol Lira: escritora da resistência, esperança e acessibilidade.',
  description = 'Esse é o site da escritora Carol Lira. Uma artista que fala em nome da aceitação, acessibilidade e resistência. Fala de suas vivência que são permeadas por potências e limites.',
  url = Astro.site,
  image = 'https://github.com/user-attachments/assets/953f734c-0261-49c6-8da0-920d7e7f4cac',
  author = 'Carol Lira',
} = Astro.props
---

<html lang="pt-BR" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- favicon -->
    <!--<link rel="icon" type="image/svg+xml" href="/favicon.svg" />-->

    <SiteMeta title={title} description={description.substring(0, 100)} url={url} image={image} author={author} />

    <!-- Enable Astro View Transitions for all browsers -->
    <ClientRouter />
  </head>
  <body>
    <Header />
    <main id="main-content" transition:animate="fade">
      <slot />
    </main>
    <Footer />
    <style lang="scss" is:global>
      // sticky footer on low content pages
      html,
      body {
        height: 100%;
      }

      body {
        display: flex;
        flex-direction: column;
        overflow-x: clip;

        main {
          flex: 1 0 auto;
        }

        footer {
          flex-shrink: 0;
        }
      }

      pre {
        border: 2px solid var(--link-color);
        border-radius: 0.35rem;
        padding: 1rem;
      }
    </style>
  </body>
</html>
